{
	admin off
	persist_config off
	auto_https off
	log {
		format json
	}
	servers {
		trusted_proxies static private_ranges 100.0.0.0/8
	}
}

:{$PORT:8080} {
	log {
		format json
	}

	root * browser
	encode gzip

	file_server
	try_files {path} /index.html
}
